<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.test.domain.User" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="INTEGER" />
    <result column="SEX" property="sex" jdbcType="INTEGER" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ACCOUT" property="accout" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="passowrd" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
  </resultMap>

    <sql id="BASE_Colum">

        ID,NAME,EMAIL,SEX,ADDRESS,ACCOUT,PASSWORD,PHONE,QQ
    </sql>


  <select id="queryByUser" resultMap="BaseResultMap" parameterType="com.test.domain.User" >
    select 
    <include refid="BASE_Colum" />
    from
      USER
    where ID = #{id}
  </select>


    <select id="getAll" resultType="com.test.domain.User">

      SELECT
        <include refid="BASE_Colum"/>
      FROM
        USER
    </select>

  <delete id="deleteByPrimaryKey" parameterType="com.test.domain.User" >
    DELETE
    FROM
      USER
    WHERE ID = #{id}
  </delete>


  <insert id="insert" parameterType="com.test.domain.User" >
    insert into USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
            id,
        </if>
        <if test="name != null" >
            name,
        </if>
        <if test="email != null" >
            email,
        </if>
        <if test="sex != null" >
            sex,
        </if>
        <if test="address != null" >
            address,
        </if>
        <if test="accout != null" >
            accout,
        </if>
        <if test="password != null" >
            password,
        </if>
        <if test="phone != null" >
            phone,
        </if>
        <if test="qq != null" >
            qq
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
            id,
        </if>
        <if test="name != null" >
            name,
        </if>
        <if test="email != null" >
            email,
        </if>
        <if test="sex != null" >
            sex,
        </if>
        <if test="address != null" >
            address,
        </if>
        <if test="accout != null" >
            accout,
        </if>
        <if test="password != null" >
            password,
        </if>
        <if test="phone != null" >
            phone,
        </if>
        <if test="qq != null" >
            qq
        </if>

    </trim>
  </insert>

  <update id="updateUser" parameterType="com.test.domain.User" >
    update USER
    <set >
        <if test="name != null" >
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="email != null" >
            email = #{email,jdbcType=VARCHAR},
        </if>
        <if test="sex != null" >
            sex = #{sex,jdbcType=VARCHAR},
        </if>
        <if test="address != null" >
            address = #{address,jdbcType=VARCHAR},
        </if>
        <if test="accout != null" >
            accout = #{accout,jdbcType=VARCHAR},
        </if>
        <if test="password != null" >
            password = #{password,jdbcType=VARCHAR},
        </if>
        <if test="phone != null" >
            phone = #{phone,jdbcType=VARCHAR},
        </if>
        <if test="qq != null" >
            qq = #{qq,jdbcType=VARCHAR},
        </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>


</mapper>